<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752567322079-ea5787am04bvg5h9viujltha92i8mv0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752567322079-ea5787am04bvg5h9viujltha92i8mv0c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>752567322079-ifipsc0ra784pgcqk5kgohbpred2pepk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxMxI3-RFG2YZu_7mS_i7q_WktxdGm8pE</string>
	<key>GCM_SENDER_ID</key>
	<string>752567322079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitconnect</string>
	<key>PROJECT_ID</key>
	<string>fitconnect-2ba3f</string>
	<key>STORAGE_BUCKET</key>
	<string>fitconnect-2ba3f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752567322079:ios:bdbc8f9baf4a4b6ad2706a</string>
</dict>
</plist>